body {
  background-color: darkgray;
}
div.box {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
div.box h1 {
  font-size: 25px;
  font-family: Arial;
}
div.box button {
  font-size: 15px;
}
